.MobileNav {
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid lightslategray;
  background-color: #fff;
  width: 100%;
  max-width: 820px;
  height: 100px;
  padding: 25px;
}

.MobileNav .burger {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 40px;
}
.MobileNav .icon {
  font-size: 2.5rem;
  color: #05a9f4;
}

@media screen and (min-width: 820px) {
  .MobileNav {
    display: none;
  }
}
