.Content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: scroll;
  transition: all 0.35s;
}

@media screen and (min-width: 400px) {
  .Content {
    width: 90%;
  }
}
@media screen and (min-width: 900px) {
  .Content {
    width: 60%;
  }
}

@media screen and (min-width: 1200px) {
  .Content {
    width: 40%;
  }
}

/* Scroll effect */

.scrollEffect {
  transform: translateY(-55px);
  height: calc(100vh + 55px);
}
