.single-content {
  border-bottom: 0.75px solid #a2a2a2;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 25px;
  min-height: 150px;
  flex-shrink: 0;
  color: #efefef;
}

@media screen and (max-width: 300px) {
  .single-content {
    padding: 10px;
  }
}

.user-img {
  align-self: flex-start;
  width: 50px;
  border-radius: 50%;
  background-color: #fafafa;
}

.text-info {
  position: relative;
  min-height: 100%;
  min-width: 150px;
}

.text-info span {
  width: inherit;
}

.text-info span:nth-child(1) {
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 25px;
  margin-right: 10px;
}

.text-info span:nth-child(2) {
  color: #a2a2a2;
  letter-spacing: 1px;
  line-height: 25px;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 75%;
  padding-top: 25px;
}

.icons img {
  width: 25px;
  filter: contrast(30%);
}
