.SideMenu {
  position: fixed;
  top: 100px;
  left: -250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  background-color: #fff;
  z-index: 10;
  width: 250px;
  height: calc(100% - 175px);
  padding: 25px;
  border-right: 1px solid lightslategray;
  transition: all 0.35s ease;
}

.show {
  left: 0;
}
