.MenuContent ul {
  list-style-type: none;
}
.MenuContent ul li {
  margin-bottom: 25px;
}

.MenuContent ul li a {
  text-decoration: none;
  text-transform: capitalize;
  color: #fafafa;
  letter-spacing: 0.75px;
  font-size: 1.2rem;
}

.MenuContent ul li a:hover {
  color: lightblue;
}

.MenuContent .tweet-btn {
  margin-top: 50px;
  padding: 15px;
  width: 150px;
  border-radius: 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bolder;
  color: #fff;
  background-color: #05a9f4;
  border: none;
  cursor: pointer;
}
